html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSansRegular'), url("../fonts/OpenSansRegular.woff2"), format("woff2"),
    url("../fonts/OpenSansRegular.woff"), format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSansLight'), url("../fonts/OpenSansLight.woff2"), format("woff2"),
    url("../fonts/OpenSansLight.woff"), format("woff");
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSansSemiBold'), url("../fonts/OpenSansSemiBold.woff2"), format("woff2"),
    url("../fonts/OpenSansSemiBold.woff"), format("woff");
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

body {
  min-width: 1200px;
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
}


/* global */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  position: relative;
  outline: none;
  border-radius: 3px;
  padding: 16px 35px;
  font-family: inherit;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
  background-color: #3172b9;
  transition: background-color 0.3s ease-in-out;
}

.btn::after {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  border-radius: inherit;
  border: 1px solid #71a7e2;
  opacity: 0;
  outline: none;
  transition: opacity 0.3s ease-in-out;
}

.btn:focus::after {
  opacity: 1;
}

.btn:hover {
  background-color: #71a7e2;
}

.btn:active {
  background-color: #0e3b6c;
}

.services__icon .btn:active::after {
  opacity: 0;
}

.flex {
  display: flex;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section__title {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 300;
  font-size: 36px;
  line-height: 130%;
  color: #1c1c1c;
}

.section__descr {
  margin: 0;
  margin-bottom: 50px;
  font-size: 16px;
  font-weight: 400;
  color: #787878;
}

.section {
  padding-top: 87px;
  padding-bottom: 160px;
}

/* header */

.header {
  padding: 36px 0;
  background-color: #fff;
  border-bottom: 1px solid #c4c4c4;
}

.header__container {
  align-items: center;
}

.header__logo {
  margin-right: auto;
}

.header__nav {
  margin-right: 52px;
}

.nav__item:not(:last-child) {
  margin-right: 52px;
}

.nav__link {
  position: relative;
  font-weight: 600;
  font-size: 15px;
  color: #1c1c1c;
  transition: color 0.3s ease-in-out;
}

.nav__link:focus {
  outline-offset: 3px;
  outline: 1px solid #71a7e2;
}

.nav__link:hover {
  color: #71a7e2;
}

.nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #3474ba;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.nav__link:active {
  color: #3172b9;
  outline: none;
}

.nav__link:active::after {
  opacity: 1;
}

/* hero */

.hero {
  padding-top: 100px;
  padding-bottom: 150px;
  background-image: url("../img/hero-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__content {
  max-width: 50%;
  flex-direction: column;
  align-items: start;
}

.hero__title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 300;
  font-size: 40px;
  line-height: 130%;
}

.hero__descr {
  width: 471px;
  margin: 0;
  margin-bottom: 34px;
  font-size: 16px;
  line-height: 155%;
  color: #787878;
}

.hero__wrapper {
  flex-direction: column;
  align-items: center;
}

.hero__btn {
  min-width: 250px;
  margin-bottom: 14px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.hero__secure {
  padding-left: 30px;
  font-size: 11px;
  line-height: 155%;
  text-transform: uppercase;
  color: #787878;
  background-image: url("../img/secure.svg");
  background-position: left center;
  background-size: 14px 17px;
  background-repeat: no-repeat;

}

/* services */
.services {
  border-bottom: 1px solid #c4c4c4;
}

.services__title {
  text-align: center;
}

.services__descr {
  text-align: center;
}

.services__item {
  flex-direction: column;
  align-items: center;
  padding: 60px 30px;
  width: 270px;
  border-radius: 5px;
  border: 1px solid #e4e4e4;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.services__item:hover {
  border-color: #3172b9;
  background-color: #3172b9;
}

.services__item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.services__icon {
  fill: #3172b9;
  margin-bottom: 25px;
  transition: fill 0.3s ease-in-out;
}

.services__item:hover .services__icon {
  fill: #fff;
}

.services__item-title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
  color: #1c1c1c;
  transition: color 0.3s ease-in-out;
}

.services__item:hover .services__item-title {
  color: #fff;
}

.services__item-descr {
  margin: 0;
  text-align: center;
  font-size: 14px;
  line-height: 150%;
  color: #787878;
  transition: color 0.3s ease-in-out;
}

.services__item:hover .services__item-descr {
  color: #fff;
}

/* articles */
.articles {
  border-bottom: 1px solid #c4c4c4;
}

.articles__list {
  flex-wrap: wrap;
}

.articles__item {
  width: 570px;
  margin-bottom: 30px;
}

.articles__item:not(:nth-child(2n)) {
  margin-right: 30px;
}

.artcles__card {
  overflow: hidden;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
}

.card__image {
  object-fit: cover;
}

.card__text {
  padding: 30px;
}

.card__time {
  display: block;
  margin-bottom: 5px;
  font-size: 10px;
  line-height: 150%;
  color: #787878;
  transition: color 0.3s ease-in-out;
}

.card__title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
  color: #1C1C1C;
  transition: color 0.3s ease-in-out;
}

.card__descr {
  max-width: 210px;
  margin: 0;
  font-size: 14px;
  line-height: 150%;
  color: #787878;
  transition: color 0.3s ease-in-out;
}

.card__link {
  position: relative;
  width: 100%;
  transition: background-color 0.3s ease-in-out;
}

.card__link:focus {
  background-color: #71a7e2;
}

.card__link:focus .card__title {
  color: #fff;
}

.card__link:focus .card__descr {
  color: #fff;
}

.card__link:focus .card__time {
  color: #fff;
}

.card__link:hover {
  background-color: #3172b9;
}

.card__link:hover .card__title {
  color: #fff;
}

.card__link:hover .card__descr {
  color: #fff;
}

.card__link:hover .card__time {
  color: #fff;
}

.card__link:active {
  background-color: #0e3b6c;
}

.card__link:active .card__title {
  color: #fff;
}

.card__link:active .card__descr {
  color: #fff;
}

.card__link:active .card__time {
  color: #fff;
}

/* clients */
.clients {
  border-bottom: 1px solid #c4c4c4;
}

.clients__item {
  flex-direction: column;
  width: 370px;
  padding: 50px 36px;
  padding-bottom: 30px;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
}

.clients__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.clients__descr {
  margin: 0;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 180%;
  color: #787878;
}

.clients__user {
  width: 100%;
  align-items: center;
  margin-top: auto;
  padding-top: 28px;
  border-top: 1px solid #e4e4e4;
}

.clients__avatar {
  flex-shrink: 0;
  width: 67px;
  margin-right: 17px;
}

.clients__avatar img {
  width: 100%;
  height: 100%;
  border: 2px solid #3172b9;
  border-radius: 100%;
}

.clients__name {
  margin-bottom: 5px;
  font-size: 17px;
  font-weight: 600;
  line-height: 180%;
  color: #1c1c1c;
}

.clients__post {
  font-size: 14px;
  line-height: 180%;
  color: #787878;
}

/* contacts */
.contacts {
  border-bottom: 1px solid #c4c4c4;
}

.contacts__address {
  font-style: normal;
}

.contacts__item {
  flex-direction: column;
  width: 370px;
  padding-top: 48px;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 29px 29px;
}

.contacts__item--address {
  background-image: url("../img/location_on.svg");
}

.contacts__item--phone {
  background-image: url("../img/phone.svg");
}

.contacts__item--mail {
  background-image: url("../img/mail.svg");
}

.contacts__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.contacts__caption {
  margin-bottom: 30px;
  font-size: 17px;
  line-height: 180%;
  color: #1c1c1c;
}

.contacts__text {
  max-width: 215px;
  margin: 0;
  font-size: 14px;
  line-height: 180%;
  color: #787878;
}

.contacts__link {
  display: inline-block;
  font-size: 14px;
  line-height: 180%;
  color: #787878;
  transition: color 0.3s ease-in-out;
}

.contacts__link:focus {
  outline: 1px solid #71a7e2;
}

.contacts__link:hover {
  color: #71a7e2;
}

.contacts__link:active {
  outline: none;
  color: #0e3b6c;
}

/* join us */
.join-us {
  border-bottom: 1px solid #c4c4c4;
}


.join-us__title {
  text-align: center;
}

.join-us__descr {
  text-align: center;
  margin-bottom: 30px;
}

.form {
  padding-left: 55px;
  padding-right: 55px;
}

.form__input {
  border: 1px solid #dadada;
  border-radius: 50px;
  box-sizing: border-box;
  padding: 16px 28px;
  width: 251px;
  height: 60px;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.form__input:nth-child(-n+2) {
  margin-bottom: 19px;
}

.form__input:focus {
  outline: none;
  border-color: #71a7e2;
  background-color: #71a7e233;
}

.form__input:hover {
  border-color: #71a7e2;

}

.form__input:active {
  border-color: #0e3b6c;
}

.form__select {
  border: 1px solid #dadada;
  border-radius: 50px;
  box-sizing: border-box;
  padding: 16px 28px;
  width: 251px;
  height: 60px;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.form__select:focus {
  outline: none;
  border-color: #71a7e2;
  background-color: #71a7e233;
}

.form__select:hover {
  border-color: #71a7e2;

}

.form__select:active {
  border-color: #0e3b6c;
}

.form__textarea {
  border: 1px solid #dadada;
  border-radius: 20px;
  box-sizing: border-box;
  resize: none;
  padding: 16px 28px;
  width: 100%;
  height: 100%;
}

.form__textarea:focus {
  outline: none;
  border-color: #71a7e2;
  background-color: #71a7e233;
}

.form__textarea:hover {
  border-color: #71a7e2;

}

.form__textarea:active {
  border-color: #0e3b6c;
}

.form__top {
  justify-content: space-between;
  margin-bottom: 19px;
}

.form__left {
  width: 49%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form__right {
  width: 49%;
}

.form__bottom {
  justify-content: flex-end;
}

.form__wrapper {
  flex-direction: column;
  align-items: center;
}

.form__btn {
  min-width: 230px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 50px;
  margin-bottom: 9px;
}

.form__check {
  font-size: 12px;
  line-height: 16px;
  color: #787878;
}

.form__check input {
  margin-right: 8px;
}

.form__check a {
  color: #3172b9;
  border-bottom: 1px solid #3172b9;
}

/* footer */
.footer {
  padding: 42px 0;
}

.footer__container {
  align-items: center;
  justify-content: space-between;
}

.footer__left,
.footer__right {
  align-items: center;
}

.footer__logo {
  margin-right: 25px;
}

.footer__copy {
  color: #787878;
  font-size: 12px;
  line-height: normal;
}

.footer__nav {
  margin-right: 56px;
}

.footer__nav .nav__item:not(:last-child) {
  margin-right: 28px;
}

.footer__nav .nav__link{
  position: relative;
  font-size: 12px;
  color: #787878;
  transition: color 0.3s ease-in-out;
}

.nav__link:hover {
  color: #71a7e2;
}

.nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #3474ba;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.nav__link:active {
  color: #3172b9;
  outline: none;
}

.nav__link:active::after {
  opacity: 1;
}

.social-item:not(:last-child) {
  margin-right: 32px;
}

.social-link {
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
}

.social-link svg {
  fill: #000;
  transition: fill 0.3s ease-in-out, stroke 0.3s ease-in-out;;
}

.social-link-mail svg {
  fill: transparent;
  stroke: #000;
}

.social-link:focus {
  outline-offset: 2px;
  outline: 1px solid #71a7e2;
}

.social-link:hover svg {
  fill: #71a7e2;
}

.social-link-mail:hover svg {
  fill: transparent;
  stroke: #71a7e2;
}

.social-link:active svg {
  fill: #3172b9;
}

.social-link-mail:active svg {
  fill: transparent;
  stroke: #3172b9;
}
